<footer class="footer">
  <small>
    <%= t(".small", f_link: link_to(t(".f_href"), "http://www.railstutorial.org/"),
      s_link:link_to(t(".s_href"), "http://www.michaelhartl.com/")).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_about"), about_path %></li>
      <li><%= link_to t(".link_contact"), contact_path %></li>
      <li><%= link_to t(".link_new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
